# Normally we want to ignore everything else in a secret folder
# But for testing purposes we don't want to

# Below is an example of a .gitignore file where everything is hidden
# *.*           # Everything in current folder
# */**/.*       # Everything in subfolders
